<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>ProvinceServlet</servlet-name>
    <servlet-class>SQLservlet.ProvinceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>SQLservlet.loginservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>SQLservlet.userservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cityServlet</servlet-name>
    <servlet-class>SQLservlet.cityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bankservlet</servlet-name>
    <servlet-class>SQLservlet.bankservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>SQLservlet.managerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addressServlet</servlet-name>
    <servlet-class>SQLservlet.addressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>SQLservlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DingdanServlet</servlet-name>
    <servlet-class>SQLservlet.DingdanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shopCarServlet</servlet-name>
    <servlet-class>SQLservlet.shopCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newmsgServlet</servlet-name>
    <servlet-class>SQLservlet.newmsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExchangeServlet</servlet-name>
    <servlet-class>SQLservlet.ExchangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>moneyRecordServlet</servlet-name>
    <servlet-class>SQLservlet.moneyRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PingjiaServlet</servlet-name>
    <servlet-class>SQLservlet.PingjiaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>SQLservlet.CollectionServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ProvinceServlet</servlet-name>
    <url-pattern>/provinceservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cityServlet</servlet-name>
    <url-pattern>/cityservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bankservlet</servlet-name>
    <url-pattern>/bankservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/managerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addressServlet</servlet-name>
    <url-pattern>/addressservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/homeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DingdanServlet</servlet-name>
    <url-pattern>/dingdanservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shopCarServlet</servlet-name>
    <url-pattern>/shopcarservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newmsgServlet</servlet-name>
    <url-pattern>/newmsgservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeServlet</servlet-name>
    <url-pattern>/exchangeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>moneyRecordServlet</servlet-name>
    <url-pattern>/moneyrecordservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PingjiaServlet</servlet-name>
    <url-pattern>/pingjiaservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/collectionservlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>FilterEncoding</filter-name>
  	<filter-class>Filter.FilterEncoding</filter-class>
  	<init-param>
  		<param-name>config</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>FilterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
